<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="grid-container">
  <div class="grid-item"></div>
  <div class="grid-item">Important</div>
  <div class="grid-item">Not Important</div>
  <div class="grid-item">Urgent</div>
  <div class="grid-item">
    {{#each importantUrgentArr}}
    <input class="list-status" type="checkbox" name="status">
    <h4>{{this.description}}</h4>
    {{/each}}
  </div>
  <div class="grid-item">
    {{#each urgentNotImportantArr}}
    <input class="list-status" type="checkbox" name="status">
    <h4>{{this.description}}</h4>
    {{/each}}
  </div>
  <div class="grid-item">Non-urgent</div>
  <div class="grid-item">
    {{#each importantNonUrgentArr}}
    <input class="list-status" type="checkbox" name="status">
    <h4>{{this.description}}</h4>
    {{/each}}
  </div>
  <div class="grid-item">
    {{#each nonUrgentNotImportantArr}}
    <form action="/priorities/{{this._id}}/edit" method="POST">
    <input class="list-status" type="checkbox" name="status">
    <h4>{{this.description}}</h4>
    </form>
    {{/each}}
  </div>
</div>
<script>
       let myListStatusArr = document.querySelectorAll('.list-status')
       console.log(myListStatusArr)
       for(let i=0; i<myListStatusArr.length; i++){
        myListStatusArr[i].addEventListener('click', function(event) {
            event.currentTarget.submit()
        })
       }
    </script>
</body>
</html>